//fuentes
$fonts-primary1: 'Montserrat', sans-serif;
$fonts-primary2: 'Roboto', sans-serif;






//colores
$primary-color:#FFFFFF;
$primary-color1:#572EE5;
$primary-color2:#50E3C2;
$primary-color3:#9CAFC3;
$primary-color4:#000000;
$primary-color5:#222326;
$primary-color6:#F3F5F8;
$primary-color7:#5ED7C6;
$primary-color8:#37383C;
$primary-color9:#222326 ;



