@import './variables';
@import './mixins';
@import './header';
@import './maininicio';
@import './footer';
@import './mainmisgifos';
@import './mainfavoritos';
@import './maincreargifo';


* {
    @include formato-document;
}

body{
    @include linea-arriba-abajo;
    scroll-behavior: smooth;
   
    &.dark{
        background-color: $primary-color8;
        border-top: 5px solid $primary-color4;
        border-bottom: 5px solid $primary-color4;
    }
}
